<% if current_user %>
  <%= form_for [current_user, @owned_game] do |f| %>
    <%= f.fields_for :game, @owned_game.game do |game_fields| %>
      <div class="new_owned_game--fields">
        <%= game_fields.label :title %>
        <%= game_fields.text_field :title %><br>
      </div>

      <div class="new_owned_game--fields">
        <%= game_fields.label :publisher %>
        <%= game_fields.text_field :publisher %><br>
      </div>

      <div class="new_owned_game--fields">
        <%= game_fields.label :summary %>
        <%= game_fields.text_area :summary %><br>
      </div>
    <% end %>

    <div class="new_owned_game--fields">
      <%= f.label :notes %>
      <%= f.text_area :notes %><br>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.submit %>
  <% end %>
<% end %>