<% if current_user %>
  <h2>Your Games</h2>
<% elsif @user %>
  <h2><%= @user.username %>'s Games</h2>
<% else %>
  <h2>All Games</h2>
<% end %>

<% if @games.length > 0 %>
  <ul>
    <% @games.each do |game| %>
      <% game.display_attributes.each do |name, val| %>
        <% if val %>
          <li><%= name %>: <%= val %></li>
          <%= if current_user %>
            <li><%= link_to "Edit this entry", edit_user_owned_game_path(current_user, game.id), class: "edit_owned_game" %></li>
          <% end %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </ul>
<% else%>
  <p>Looks like you don't have any games! Add one to your Journal here.</p>
<% end %>