<% if current_user %>
  <h1 class="header-text">Your Games</h1>
<% elsif @user %>
  <h1 class="header-text"><%= @user.username %>'s Games</h1>
<% else %>
  <h1 class="header-text">All Games</h1>
<% end %>

<% if @games.length > 0 %>
  <div class="index-games_container">

    <% @games.each do |game| %>
      <div class="index-game_entry-container">
        <!-- TODO: general game path or owned game path (when applicable) -->
        <%= link_to games_path(game), class: "image_placeholder" do %>
          <%# <p class="image_placeholder">BIG OL' IMAGE PLACEHOLDER</p> %>
          BIG OL' IMAGE PLACEHOLDER
        <% end %>

        <div class="index-game_entry">
          <h3>Title: <%= link_to "#{game.title}", user_owned_game_path(current_user, game) %></h3>
          <h4>Publisher: <%= game.publisher %></h4>

          <% game.display_attributes.each do |key, val| %>
            <% if !val.blank? %>
              <p><strong><%= key %>:</strong> <%= val %></p>
            <% end %>
          <% end %>

          <% if current_user %>
            <p class="index-game_entry--links">
              <%= link_to user_owned_game_path(current_user, game) do %>
                <span>View</span>
              <% end %>

              ||

              <%= link_to edit_user_owned_game_path(current_user, game) do %>
                <span>Edit</span>
              <% end %>
              
              ||

              <%= link_to user_owned_game_path(current_user, game) do %>
                <span>Delete</span>
              <% end %>
            </p>
          <% end %>
      
        </div>
      <div class="separator"></div>

      </div>
    <% end %>

  </div>
<% elsif current_user %>
  <p>Looks like you don't have any games! Add one to your Journal <%= link_to "here", new_user_owned_game_path(current_user) %>.</p>
<% end %>