<!DOCTYPE html>
<html>
  <head>
    <title>Gamejournal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
    <div class="site">

      <%= render 'layouts/nav'%>

      <section class="main" role="main">

        <%= render 'layouts/devise-msgs' %>

        <%= yield %>
      
      </section>

    </div>

  </body>
</html>
